# Dependencies
node_modules
.esm-cache
coverage

# Environment
.env

# Logs
*.log

# Builds
prisma/client
.next
*/**/lib

# System
.DS_Store

# Auth
.keyfile.json

# Facebook-specific Files
# See: https://github.com/facebook/create-react-app/issues/346
.watchmanconfig
