# Dependencies and Build
node_modules
.esm-cache
.next
coverage

# Workspace Package Builds
packages/**/lib/

# Environment
.env

# Logs
*.log

# System
.DS_Store

# Auth
.keyfile.json

# Facebook-specific Files
# See: https://github.com/facebook/create-react-app/issues/346
.watchmanconfig
