apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: aquarius
  annotations:
    kubernetes.io/ingress.class: nginx
    certmanager.io/cluster-issuer: letsencrypt
spec:
  tls:
  - hosts:
    - aquarius.sh
    secretName: letsencrypt
  rules:
    - host: aquarius.sh
      http:
        paths:
          - path: /
            backend:
              serviceName: aquarius
              servicePort: 3000
---
apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: aquarius
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aquarius
  template:
    metadata:
      labels:
        app: aquarius
    spec:
      containers:
        - name: aquarius
          image: ianmitchell/aquarius:caa445b
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: 100m
            limits:
              cpu: 100m
          env:
            - name: NODE_ENV
              value: development
            - name: TOKEN
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: TOKEN
            - name: CLIENT_ID
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: CLIENT_ID
            - name: SENTRY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: SENTRY
            - name: DICTIONARY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: DICTIONARY_API_KEY
            - name: TEST_BOT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: TEST_BOT_TOKEN
            - name: HEARTHSTONE_KEY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: HEARTHSTONE_KEY
            - name: TIMBER_KEY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: TIMBER_KEY
            - name: SHOWTIMES_SERVER
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: SHOWTIMES_SERVER
            - name: SHOWTIMES_KEY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: SHOWTIMES_KEY
            - name: TVDB_API_KEY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: TVDB_API_KEY
            - name: GITHUB_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: GITHUB_API_TOKEN
            - name: DARK_SKY_API_KEY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: DARK_SKY_API_KEY
            - name: MAPBOX_API_KEY
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: MAPBOX_API_KEY
            - name: FIREBASE_KEYFILE
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: FIREBASE_KEYFILE
            - name: FIREBASE_PROJECT
              valueFrom:
                secretKeyRef:
                  name: aquarius-secrets
                  key: FIREBASE_PROJECT
      imagePullSecrets:
          - name: dockerhub
