@charset "UTF-8";

// 1. Configuration and helpers
@import
  'abstracts/variables',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/typesetting',
  'vendors/hue',
  'vendors/normalize';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/navigation',
  'layout/header',
  'layout/footer',
  'layout/menu';

// 5. Components
@import
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

  #particle-canvas {
    width: 100%;
    height: 40vh;
    background: linear-gradient(to bottom, rgb(10, 10, 50) 0%,rgb(60, 10, 60) 100%);
    vertical-align: middle;
  }
