.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto;
  gap: 3% 3%;
  grid-template-areas:
    "header header header header header header"
    "main main main main main main"
    "footer footer footer footer footer footer";
}

.header {
  grid-area: header;
  padding: 24px;
}

.footer {
  grid-area: footer;
}

.main {
  grid-area: main;
  padding: 24px;
  min-height: 40vh;
}
