// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.stats {
  grid-column: 1 / 3;

  span {

  }

  p {
    font-size: 36px;
    font-weight: lighter;
    margin: 0;
  }
}

.add {
  grid-column: 3 / 7;
}
