// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {

  h1 {
    @include text-stroke(var(--light), var(--dark));
    font-size: 88px;
    text-transform: uppercase;
    margin: 0;
    grid-column: 1 / 4;
    align-self: end;
    border-bottom: 30px solid var(--dark);

    a {
      color: var(--light);
      text-decoration: none;

      // TEST:
      @media (hover: hover) {
        &:hover {
          color: var(--dark);
        }
      }
    }
  }
}
