// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
  display: flex;
  flex-direction: row;

  h1 {
    @include text-stroke(var(--light), var(--dark));
    font-size: 88px;
    text-transform: uppercase;
    border-bottom: 30px solid var(--dark);
    margin-top: 0;
  }
}
