.hamburger {
  @media(min-width: $mobile-width) {
		display: none;
	}
}

.menu-button {
	display: inline-block;
	padding: .5em;
	background-color: var(--light);
	border: 1px solid var(--dark);
}

.burger-icon {
  @include burger(25px, 3px, 5px, var(--dark));
}

.menu-button.is-active .burger-icon {
  @include burger-to-cross;
}

nav {
	align-self: center;
	justify-self: end;

	@media(min-width: $mobile-width) {
		grid-column: 3 / 6;
	}

	ul {
		margin: 0 100px 0 0;
		list-style: none;
		text-align: end;
	}

	li {
		font-size: 24px;
		text-transform: uppercase;
		font-weight: bold;
		padding: 7px 0 7px 0;
	}

	a {
		color: var(--dark);

		@include interactive {
			@include text-stroke(var(--light), var(--dark));
			text-decoration: none;
		}
	}
}
