.menu-button {
	display: inline-block;
	padding: .5em;
	background-color: var(--dark);
	border: 1px solid var(--dark);
}

.burger-icon {
	@include burger(25px, 3px, 5px, var(--dark));
}

.menu-button.is-active .burger-icon {
	@include burger-to-cross;
}
